---
import Paragraphs from "../components/Paragraphs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col justify-center items-center max-w-screen-xl gap-4 mt-24">
      <img
      class=" overflow-hidden rounded-xl object-center object-cover w-80 h-80"
        src='src/assets/img/profile.png'
        alt="Juanlu Castro"
      />
    <h1 class="text-4xl font-medium pt-10 pb-5 tracking-wide">Hello!</h1>
    <Paragraphs>
      <p>
        I'm Juanlu Castro, director and character designer based in Barcelona. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde, doloremque numquam ducimus ullam quam magni corporis praesentium, minima aspernatur excepturi sequi exercitationem recusandae fugiat natus quis deleniti atque reprehenderit.
      </p>
    </Paragraphs>
  </div>
</Layout>
