---
import Video from "../components/Video.astro";
import PostImage from "../components/PostImage.astro";
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import Paragraphs from "../components/Paragraphs.astro";
---

<Layout>
  <div class="flex flex-col justify-center items-center max-w-screen-xl gap-4">
    <h1 class="text-4xl font-medium pt-10 pb-5 tracking-wide">Allianz</h1>
    <Paragraphs>
      <p>
        Allianz is an insurance company who wanted to do several infographics
        with tips about road safety. I made a collection of illustrations and
        animations for all these cases. Here there is a selection of them.
      </p>
    </Paragraphs>
    <Grid grid={3}>
      <PostImage scr="/src//assets/img/Reel_Port-1.gif" title="random dog" />
      <PostImage
        scr="https://random.dog/c22c077e-a009-486f-834c-a19edcc36a17.jpg"
        title="random dog"
      />
      <PostImage
        scr="https://random.dog/c22c077e-a009-486f-834c-a19edcc36a17.jpg"
        title="random dog"
      />
    </Grid>
    <iframe
      class="w-full aspect-video max-w-screen-xl rounded-xl"
      src="https://player.vimeo.com/video/504275015?badge=0&autopause=0&player_id=0&app_id=58479"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      title="Weird Walk"></iframe>

    <Video
      isPostVideo={true}
      url="https://player.vimeo.com/video/419854143?h=e571663f9c"
      image="/src/assets/img/reel-poster.png"
      title="Video Reel"
    />
    <div class="pt-10 pb-5 flex flex-col justify-center items-center">
      <h2 class="text-2xl font-mono font-normal pb-5">Credits</h2>
      <Paragraphs>
        <p>
          <span class="text-lg text-slate-500 font-light"
            >Illustration and animation:</span
          > Juan Luis Castro
        </p>
      </Paragraphs>
    </div>
  </div>
</Layout>
