---
---

<footer class="relative bottom-0 left-0 z-20 p-4 bg-white  md:flex md:items-center md:justify-between md:p-6 dark:bg-slate-900  w-screen -mx-4">
  <span class="font-mono text-lg tracking-wider">© 2023 Juanlu Castro
  </span>
  <span class="font-mono text-lg tracking-wider"><a href="https://flowbite.com/" class="hover:underline">Instagram</a> 
  </span>
</footer>
