---
const year = new Date().getFullYear();
---

<footer
  class="relative bottom-0 left-0 z-20 bg-white md:flex md:items-center md:justify-between py-6 px-10 dark:bg-gray-900 w-screen -mx-4 sm:flex sm:items-center sm:justify-between"
>
  <span class="font-mono text-lg tracking-wider">© {year} Juanlu Castro </span>
  <span class="font-mono text-lg tracking-wider"
    ><a
      href="https://www.instagram.com/clorodino"
      target="_blank"
      class="hover:underline">Instagram</a
    >
  </span>
</footer>
