---
import ToggleTheme from "./ToggleTheme.astro";
import NavLink from "./NavLink.astro";
---

<nav
  class="fixed z-50 bg-white dark:bg-gray-900 flex justify-between w-screen -mx-4 px-4 items-center py-7"
>
  <a href="/">
    <img
      class="max-w-28 flex justify-center items-center"
      src="/src/assets/logo-jc.svg"
      alt="logo"
    />
  </a>
  <ul class="flex gap-8 items-center font-mono text-2xl tracking-wider">
    <NavLink link="/about" title="About" />
    <NavLink link="/" title="Work" />
    <ToggleTheme />
  </ul>
</nav>
