---
import NavLink from "./NavLink.astro";
import ToggleTheme from "./ToggleTheme.astro";
export const baseUrl = "";
---

<nav class="bg-white border-red dark:bg-gray-900 w-full">
  <div
    class="flex flex-wrap items-center justify-between mx-auto py-4 relative z-40"
  >
    <a href=`${baseUrl}`>
      <img
        class="max-w-28 flex justify-center items-center"
        src=`https://res.cloudinary.com/dtgwzogvc/image/upload/v1743446214/juanlu-castro-animation/logo-jc_ru6emy.svg`
        alt="logo"
      />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
      id="burger-button"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      id="nav-container"
      class="md:translate-y-0 md:h-8 md:relative md:block md:w-auto md:top-0 w-full overflow-hidden h-[calc(100vh-80px)] absolute top-20 left-0 hidden"
    >
      <div
        class="w-full transition-transform duration-300 ease-in-out md:block md:w-auto h-screen bg-white md:h-8 md:relative absolute top-0 z-10 md:translate-y-0 -translate-y-full left-0 dark:bg-gray-900"
        id="navbar-default"
      >
        <ul
          class="flex gap-8 items-center font-mono text-2xl tracking-wider md:flex-row flex-col md:pt-0 pt-10"
        >
          <NavLink link=`${baseUrl}/about` title="About" />
          <NavLink link=`${baseUrl}` title="Work" />
          <ToggleTheme />
        </ul>
      </div>
    </div>
  </div>
</nav>

<script defer>
  let isCollapsed = true;
  const handleCollapse = () => {
    console.log("clicked");
    if (isCollapsed) {
      document.querySelector("#nav-container").classList.remove("hidden");
      setTimeout(() => {
        document
          .querySelector("#navbar-default")
          .classList.remove("-translate-y-full");
        document
          .querySelector("#navbar-default")
          .classList.add("translate-y-0");
        document.body.classList.add("overflow-y-hidden");
        isCollapsed = !isCollapsed;
      }, 50);
    } else if (!isCollapsed) {
      document
        .querySelector("#navbar-default")
        .classList.remove("translate-y-0");
      document
        .querySelector("#navbar-default")
        .classList.add("-translate-y-full");
      isCollapsed = !isCollapsed;
      setTimeout(() => {
        document.querySelector("#nav-container").classList.add("hidden");
      }, 300);
      document.body.classList.remove("overflow-y-hidden");
    }
  };
  const button = document.querySelector("#burger-button");

  button?.addEventListener("click", () => handleCollapse());
</script>
