---
interface Props {
  scr: string;
  title: string;
}
const { scr, title } = Astro.props;
---

<div>
  <img
    class="w-full overflow-hidden rounded-xl object-center object-cover"
    src={scr}
    alt={title}
  />
</div>
