---
interface Props {
  text:string;
}
const { text } = Astro.props;
---
<div class="overflow-hidden font-mono text-2xl tracking-wider">
  {text.match(/./gu)!.map((char, index) => (
    <span
      class="animate-text-reveal inline-block [animation-fill-mode:backwards]"
      style={{ animationDelay: `${index * 0.05}s` }}
    >
      {char === " " ? "\u00A0" : char}
    </span>
  ))}
</div>



