---
interface Props {
  url: string;
  image: string;
  title: string;
  isPostVideo: boolean;
}
const { url, image, title, isPostVideo } = Astro.props;
---

<div
  class:list={[
    {
      "": isPostVideo,
    },
  ]}
  class="w-full aspect-video max-w-screen-xl relative"
>
  <video id="video" class="rounded-xl" poster={image}>
    <source src={url} type="video/mp4" />
  </video>
  <div
    id="video-player"
    class="w-full z-20 h-full absolute top-0 flex justify-center items-center"
  >
    <button
      class="bg-slate-900/70 w-24 h-24 rounded-full text-slate-50 text-4xl play-button hide"
      >▷</button
    >
  </div>
</div>

<script>
  const videoPlayer = document.querySelector("#video-player");
  const video = document.querySelector("#video");
  const playButton = document.querySelector(".play-button");

  playButton?.addEventListener("click", () => {
    if (video?.paused) {
      video.play();
      playButton.classList.add("hidden");
      videoPlayer?.classList.add("hidden");
      video.setAttribute("controls", "true");
    }
  });
</script>
