---
interface Props {
  src: string;
  poster?: string;
  title: string;
  isPostVideo?: boolean;
  newClass?: string;
  autoplay?: boolean;
  rounded?: boolean;
  loop?: boolean;
}
const { src, poster, title, isPostVideo, newClass, autoplay, rounded, loop } =
  Astro.props;
---

<div
  class:list={[
    newClass,
    {
      "": isPostVideo,
    },
  ]}
  class="w-full aspect-video max-w-screen-lg relative"
>
  <video
    id="video"
    class={rounded ? "rounded-xl" : ""}
    poster={poster}
    autoplay={autoplay}
    loop={loop}
  >
    <source src={src} type="video/mp4" />
  </video>
  {
    !autoplay && (
      <div
        id="video-player"
        class="w-full z-20 h-full absolute top-0 flex justify-center items-center"
      >
        <button class="bg-gray-900/70 w-24 h-24 rounded-full text-gray-50 text-4xl play-button hide">
          ▷
        </button>
      </div>
    )
  }
</div>

<script>
  const videoPlayer = document.querySelector("#video-player");
  const video = document.querySelector("#video");
  const playButton = document.querySelector(".play-button");

  playButton?.addEventListener("click", () => {
    if (video?.paused) {
      video.play();
      playButton.classList.add("hidden");
      videoPlayer?.classList.add("hidden");
      video.setAttribute("controls", "true");
    }
  });
</script>
