---
import Layout from "../../layouts/Layout.astro";
import Grid from "../../components/Grid.astro";
import Paragraphs from "../../components/Paragraphs.astro";
---

<Layout>
  <div
    class="flex flex-col justify-center items-start max-w-screen-lg gap-4 mt-24 w-full"
  >
    <h1 class="text-4xl font-mono font-medium pt-10 pb-3 tracking-normal">
      Graf 2018
    </h1>
    <Paragraphs>
      <p>
        GRAF is a small press and independent edition festival, where small and
        medium editors, self-edition collectives, graphic artists and fanzines
        have a place. It takes place since 2013, alternately in Madrid and
        Barcelona.
      </p>
      <p>
        I made these four animations promoting the application period for
        editors, artists, collectives or cartoonist who are interested in join
        to next edition.
      </p>

      <!-- Video -->
      <video
        class="w-full aspect-video rounded-xl max-w-screen-lg mt-10"
        loop
        src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1737721262/juanlu-castro-animation/graf-2018/graf-2018_e6fuza.mp4"
        autoplay></video>

      <!-- Rough Animation -->
      <div class="italic border-t pt-4 border-neutral-300 mt-8">
        Rough Animation
      </div>
      <Grid grid={1}>
        <video
          class="w-full rounded-xl max-w-screen-lg"
          loop
          src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1743087021/juanlu-castro-animation/graf-2018/graf-2018-rough_wm5py9.mp4"
          autoplay></video>
      </Grid>

      <!-- Clean Animation -->
      <div class="italic border-t pt-4 border-neutral-300 mt-8">
        Clean Animation
      </div>
      <Grid grid={2}>
        <video
          class="w-full aspect-square rounded-xl max-w-screen-lg"
          loop
          src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1737721260/juanlu-castro-animation/graf-2018/G_ndpgdq.mp4"
          autoplay></video>
        <video
          class="w-full aspect-square rounded-xl max-w-screen-lg"
          loop
          src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1737721260/juanlu-castro-animation/graf-2018/R_tnh87i.mp4"
          autoplay></video>
        <video
          class="w-full aspect-square rounded-xl max-w-screen-lg"
          loop
          src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1737721260/juanlu-castro-animation/graf-2018/A_bxnl1r.mp4"
          autoplay></video>
        <video
          class="w-full aspect-square rounded-xl max-w-screen-lg"
          loop
          src="https://res.cloudinary.com/dtgwzogvc/video/upload/v1737721265/juanlu-castro-animation/graf-2018/F_vh9rkd.mp4"
          autoplay></video>
      </Grid>

      <!-- Credits -->
      <div
        class="mt-12 mb-5 flex flex-col justify-center items-start border-t pt-6 border-neutral-300"
      >
        <Paragraphs>
          <p class="text-sm text-gray-400 font-light">
            Direction, design & animation:
          </p>
          <p>Juanlu Castro</p>
        </Paragraphs>
      </div>
    </Paragraphs>
  </div>
</Layout>
