---
import "@fontsource-variable/manrope";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="flex flex-col justify-center items-center dark:bg-slate-900 dark:text-slate-400 px-4"
  >
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "manrope", sans-serif;
  }
  body {
    background-color: #fffcf2;
    display: flex;
    justify-content: center;
    color: #334155;
  }
</style>
